fastapi
uvicorn
python-dotenv
websockets
pipecat-ai
openai
elevenlabs
torch
pipecat-ai[deepgram]
asyncpg
psycopg2-binary
sqlalchemy
pydantic
firebase-admin
python-jose[cryptography]
boto3
requests
open-intent-classifier
google-api-python-client
google-auth
python-multipart
loguru